:root {
  --primary-color: rgb(24, 21, 21);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 100vh;*/
  overflow-x: hidden;
  background-color: rgba(243, 245, 248, 255);
}

header {
  background-color: rgb(255, 255, 255);
  color: #b7b4b4;
  padding: 22px;
  border-bottom: 2px solid #b1b1b1;
  position: fixed;
  box-shadow: 0 2px 4px #aeaeae;
  width: 100%;
  display: block;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.vitrine {
  margin: 0 auto;

  margin-top: 40px;
  width: 65%;
  margin-left: 120px;
}

.veiculo {
  display: flex;
  align-items: center;
  padding: 1px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 2px 4px #bfbfbf;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.veiculo img {
  height: 200px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 4px #bfbfbf;
}

.pesquisa {
  background-color: rgb(255, 255, 255);
  color: #b7b4b4;
  padding: 12px;
  position: fixed;
  border-bottom: 1px solid #ececec;
  margin-top: 64px;
  box-shadow: 0 2px 4px #bfbfbf;
  width: 100%;
}
.pesquisa a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #3b3b3b;
  padding: 3px;
  border-radius: 9px;
  margin-left: 25px;
}
.lupa-de-busca img {
  position: absolute;
  margin-top: -20px;
  margin-left: 975px;
  width: 20px;
  height: 20px;
}
.imput1 input {
  margin-left: 1000px;
  margin-top: -25px;
  padding: 5px;
  position: absolute;
}

.logo1 {
  top: 17px;
  left: 40px;
  position: absolute;
  width: 30px;
  border-radius: 50%;
  height: auto;
  background-color: #000000;
}
.logo2 {
  top: 23px;
  left: 73px;
  position: absolute;
  width: 130px;
}
.menu {
  gap: 35px;
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  width: 100%;
  padding: 0 2%;
  margin-left: 415px;
}
.menu a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.conteudo h2 {
  margin-top: 140px;
  margin-right: 680px;
}
.conteudo veiculo {
  padding: 500px;
  width: 70%;
  margin: 400px;
  border: 1px solid #000000;
  margin-top: 800px;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 8px;
}

footer span {
  border-right: 2px solid var(--primary-color);
  padding: 0 2rem;
}

footer span:last-child {
  border: none;
}
