* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #000;
  height: 100vh;
}
.interface {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}
h2.titulo span {
  color: #4983ff;
}
header {
  padding: 40px 4%;
}
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #8e8e8e;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.05);
}
header nav ul {
  list-style-type: none;
}
header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #009bd3;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.btn-contato button:hover {
  background-color: #00bbff;
  transform: scale(1.05);
}
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span {
  color: #4983ff;
}
.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}
.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}
section.habilidades {
  padding: 40px 4%;
}

section.habilidades .flex {
  gap: 60px;
}

.habilidades .habilidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: 0.2s;
}

.habilidades .habilidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff78;
}

.habilidades .habilidades-box img {
  width: 70px;
  height: 70px;
}

.habilidades .habilidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}
section.sobre {
  padding: 80px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  color: #fff;
}
.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
