* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #000;
  height: 100vh;
}
.interface {
  max-width: 1280px;
  margin: 0 auto;
}
header {
  padding: 40px 4%;
}
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.05);
}
header nav ul {
  list-style-type: none;
}
header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #5f7aff;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
header .btn-contato button:hover {
  background-color: #4a5ff7;
  transform: scale(1.05);
}
